<div class="page-header">
    <h1 class="font-[700] text-[24px] text-[var(--primary-color)]">{{title}}</h1>
    <button (click)="emitAddEvent()" class="button primary">Add</button>
</div>

<div class="card mt-[12px]">
    <div class="card-header">
        <span>All {{title}}</span>
        <div class="flex gap-[8px]">
            <button (click)="exportExcel()" class="icon" title="Export (Alt + X)" accesskey="x">
                <img src="../../../assets/icons/excel.svg" alt="logo" />
            </button>
            <button (click)="exportPDF()" class="icon" title="Print (Ctrl + P)">
                <img src="../../../assets/icons/pdf.svg" alt="logo" />
            </button>
        </div>
    </div>


    <ng-content></ng-content>

</div>