:root {
    --nav-bg: #0f172a;
    --nav-hover: #2c3344;
    --bg-light: #f7f7f7;
    --white-color: #fff;
    --stroke-color: #e2e8f0;
    --primary-color: #018749;
    --table-border-color: #dee2e6;
}