.table {
    width: 100%;
    overflow-x: auto;
    border: 1px solid var(--table-border-color);
    border-collapse: collapse;
    border-radius: 3.2px;

    thead th {
        background-color: var(--bg-light);
        padding: 8px;
        font-weight: 500;
        text-align: left;
    }

    tbody tr:hover {
        background-color: var(--green-extra-light-color) !important;
    }

    tbody tr:nth-child(even) {
        background-color: #fafafa;
    }

    tbody td {
        padding: 8px;
        border-bottom: 1px solid var(--table-border-color);
    }

    tfoot td {
        padding: 8px;
        font-weight: 500;
        border-bottom: 1px solid var(--table-border-color);
    }

    tbody td:last-child {
        button {
            width: 18px;
            height: 18px;
        }
    }
}
