<div class="modall">
    <div class="modall-header modall-style-cancel">
        <h1 class="modal-title" id="modal-title">
            Order Details
        </h1>
        <button mat-dialog-close class="btn-close">
            X
        </button>
    </div>

    <div class="modall-body">
        <div>
            <div class="form-group">
                <label>Order Number</label>
                <div>
                    {{data?.order_number}}
                </div>
            </div>

            <div class="form-group">
                <label>Date</label>
                <div>
                    {{data?.date}}
                </div>
            </div>

            <div class="form-group">
                <label>Customer Name</label>
                <div>
                    {{data?.customer_name}}
                </div>
            </div>

            <div class="form-group">
                <label>Address</label>
                <div>
                    {{data?.address}}
                </div>
            </div>

            <div class="form-group">
                <label>Order Total</label>
                <div>
                    {{data?.total | amount}}
                </div>
            </div>

            <div class="form-group w-1/2">
                <label>Status</label>
                <div>
                    <ng-select [clearable]="false" [searchable]="false" [(ngModel)]="data.status" [items]="statusList" (change)="updateOrder(data)"> </ng-select>
                </div>
            </div>


            <div class="mt-[20px]">
                <table class="table">
                    <thead>
                        <tr>
                            <th>S.N</th>
                            <th>Product</th>
                            <th>Qty.</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of data?.items; track $index) {
                        <tr>
                            <td>{{$index + 1}}</td>
                            <td>{{item?.name}}</td>
                            <td>{{item?.quantity}}</td>
                            <td>{{item?.price}}</td>
                            <td>{{item?.quantity * item?.price}}</td>
                        </tr>
                        }
                        @empty {
                        <tr>
                            <td colspan="10">
                                <div class="no-data w-100 text-center">
                                    <p>No Records Found...</p>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>