@if (isListView) {
<app-general-list [title]="'Product'" (onAdd)="showAddForm()">

    <input slot="filter" type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search...">

    <table class="table" id="export-table">
        <thead>
            <tr>
                <th>S.N</th>
                <th sortValue="name" (sort)="onSort($event)"><a class="sort-by"> Product Name</a></th>
                <th>Category</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for (product of sortedData.slice(fromData(), toData()) | filterPipe : searchText; track $index) {
            <tr>
                <td>{{$index + pageIndex() * pageSize() + 1}}</td>
                <td>{{product?.name}}</td>
                <td>{{product?.category}}</td>
                <td>{{product?.brand}}</td>
                <td>{{product?.price}}</td>
                <td>{{product?.status == true ? 'Active' : 'Inactive'}}</td>
                <td>
                    <div class="flex gap-[6px]">
                        <img (click)="viewProduct(product)" class="w-[18px] h-[18px] cursor-pointer"
                            src="../../../assets/icons/view.svg">
                        <img (click)="editProduct(product)" class="w-[18px] h-[18px] cursor-pointer"
                            src="../../../assets/icons/edit.svg">
                        <img (click)="deleteProduct(product)" class="w-[18px] h-[18px] cursor-pointer"
                            src="../../../assets/icons/delete.svg">
                    </div>
                </td>
            </tr>
            }
            @empty {
            <tr>
                <td colspan="10">
                    <div class="no-data w-100 text-center">
                        <p>No Records Found...</p>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <div class="flex items-center justify-end m-[10px]">
        <app-paginator [pageSizeOptions]="[10, 25, 50]" [pageSize]="10" [length]="length" (pageChange)="onPageChange($event)"></app-paginator>
    </div>

</app-general-list>
}
@else {
<app-add-product (onExit)="showList()" [productData]="productDetail" [mode]="mode"></app-add-product>
}