@if (showPage == 'list') {
<app-general-list [title]="'Product'" (onAdd)="showAddForm()">
    <table class="table" id="export-table">
        <thead>
            <tr>
                <th>S.N</th>
                <th>Product Name</th>
                <th>Category</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for (product of productList; track $index) {
            <tr>
                <td>{{$index + 1}}</td>
                <td>{{product?.name}}</td>
                <td>{{product?.category}}</td>
                <td>{{product?.brand}}</td>
                <td>{{product?.price}}</td>
                <td>{{product?.status == true ? 'Active' : 'Inactive'}}</td>
                <td>
                    <div class="flex gap-[6px]">
                        <img class="w-[18px] h-[18px] cursor-pointer" src="../../../assets/icons/view.svg">
                        <img (click)="editProduct(product)" class="w-[18px] h-[18px] cursor-pointer" src="../../../assets/icons/edit.svg">
                        <img (click)="deleteProduct(product)" class="w-[18px] h-[18px] cursor-pointer"
                            src="../../../assets/icons/delete.svg">
                    </div>
                </td>
            </tr>
            }
            @empty {
            <tr>
                <td colspan="10">
                    <div class="no-data w-100 text-center">
                        <p>No Records Found...</p>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</app-general-list>
}
@else if (showPage == 'form') {
<app-add-product (onExit)="showList()" [productData]="productDetail"></app-add-product>
}
@else {
<app-view-product (onExit)="showList()"></app-view-product>
}