.layout-container {
    display: flex;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 6px;
    margin-bottom: 12px;


    span {
        margin-left: 44px;
        font-size: 24px;
        color: white;
        font-weight: 900;
        text-wrap: nowrap;
    }
}

header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    background-color: white;

    .header-items {
        display: flex;
        align-items: center;
        gap: 12px;

        img {
            width: 18px;
            height: 18px;
        }

        .profile
        {
            width: 24px;
            height: 24px;
        }
    }
}

.sidenav-container {
    height: 100vh;
    background-color: var(--nav-bg);
    margin: 0;
    padding: 0;
    z-index: 5;
    transition: all 0.5s ease !important;

    .sidenav-content {
        height: 100%;
        padding: 4px;
        overflow: hidden;
        transition: all 0.5s ease !important;
        background-color: var(--nav-bg);

        &:hover {
            width: 180px !important;
        }

        .nav-item {
            display: flex;
            flex-direction: column;
            gap: 8px;

            a {
                display: flex;
                align-items: center;
                padding: 10px;
                border-radius: 6px;
                cursor: pointer;
                color: white;

                img {
                    width: 24px !important;
                    height: 24px;
                }

                span {
                    margin-left: 14px;
                    font-size: 14px;
                    font-weight: 600;
                }



                &:hover, &.active {
                    background-color: var(--nav-hover);
                }
            }

            .sub-menu {
                display: flex;
                flex-direction: column;
                gap: 4px;
                max-height: 0px;
                padding-left: 20px;
                transition: all 0.5s ease;
                overflow: hidden;

                &.open {
                    max-height: 300px;
                    transition: all 1s ease;
                }
            }
        }
    }
}