<div class="flex h-[100vh]">
  <!-- Sidebar -->
  <div class="sidenav-container" [style.width.px]="isOpened ? drawerExpandedWidth : drawerCollapsedWidth">
    <div class="sidenav-content" [style.width.px]="isOpened ? drawerExpandedWidth : drawerCollapsedWidth">
      <!-- logo -->
      <div class="flex items-center p-[6px] mb-[12px]">
        <span class="ml-[44px] text-[24px] text-white font-[900] text-nowrap">E-Admin</span>
      </div>
      <!-- logo end  -->
      <!-- nav items  -->
      <div *ngFor="let item of navItems" class="nav-item">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}" [routerLink]="item?.link">
          <img class="h-[24px] w-[24px]" [src]="item?.icon" alt="">
          <span>{{item.title | uppercase}}</span>
        </a>
      </div>
      <!-- nav items end  -->
    </div>
  </div>
  <!-- Sidebar End  -->

  <!-- Main Content -->
  <div class="grow flex flex-col">
    <!-- Header -->
    <header class="shadow-md">
      <button (click)="toggleNav()">
        <img class="h-[18px] w-[18px]" src="../../assets/icons/menu.svg">
      </button>
      <div class="header-items cursor-pointer">
        <img class="profile" src="../../assets/icons/profile.svg">
        <span class="font-[800] text-[16px]">Sandip Shakya</span>
      </div>
    </header>
    <!-- Header end  -->

    <!-- Content -->
    <div class="grow p-4 overflow-y-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- Main Content End  -->
</div>