<app-general-list [title]="'Orders'" [showAdd]="false">

    <table class="table" id="export-table">
        <thead>
            <tr>
                <th>S.N</th>
                <th sortValue="order_number" (sort)="onSort($event)"><a class="sort-by">Order No.</a></th>
                <th sortValue="date" (sort)="onSort($event)"><a class="sort-by">Order Date</a></th>
                <th sortValue="customer_name" (sort)="onSort($event)"><a class="sort-by">Customer Name</a></th>
                <th sortValue="address" (sort)="onSort($event)"><a class="sort-by">Address</a></th>
                <th class="text-end">Total</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for (order of sortedData.slice(fromData(), toData()) | filterPipe : searchText; track $index) {
            <tr>
                <td>{{$index + pageIndex() * pageSize() + 1}}</td>
                <td>{{order?.order_number}}</td>
                <td>{{order?.date}}</td>
                <td>{{order?.customer_name}}</td>
                <td>{{order?.address}}</td>
                <td class="text-end">{{order?.total | amount}}</td>
                <td>
                    @if (order?.status == 'Delivered') {
                    <span class="status active">{{order?.status}}</span>
                    }
                    @else {
                    <span class="status pending">{{order?.status}}</span>
                    }
                </td>
                <td>
                    <div class="flex gap-[6px]">
                        <img (click)="viewOrder(order)" class="w-[18px] h-[18px] cursor-pointer"
                            src="../../../assets/icons/view.svg">
                    </div>
                </td>
            </tr>
            }
            @empty {
            <tr>
                <td colspan="10">
                    <div class="no-data w-100 text-center">
                        <p>No Records Found...</p>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <div class="flex items-center justify-end m-[10px]">
        <app-paginator [pageSizeOptions]="[10, 25, 50]" [pageSize]="10" [length]="length"
            (pageChange)="onPageChange($event)"></app-paginator>
    </div>

</app-general-list>