<div class="page-header">
    <h1 class="font-[700] text-[24px] text-[var(--primary-color)]"> {{mode}} Product</h1>
    <div class="flex gap-[8px]">
        @if (mode != 'View') {
        <button (click)="onSave()" class="button primary">Save</button>
        }
        <button (click)="exit()" class="button secondary">Go Back</button>
    </div>
</div>

<div class="card mt-[12px]">
    <form [formGroup]="productForm">
        <div class="grid md:grid-cols-2 gap-x-[24px]">
            <div class="form-group">
                @if (mode == 'View') {
                <label>Name</label>
                <div>
                    {{productData?.name || '-'}}
                </div>
                }
                @else {
                <label>Name <span>*</span></label>
                <div>
                    <input requiredInput formControlName="name" type="text" class="form-control"
                        [class.is-invalid]="f['name'].invalid && (f['name'].dirty ||f['name'].touched)" />
                </div>
                }
            </div>

            <div class="form-group">
                @if (mode == 'View') {
                <label>Category</label>
                <div>
                    {{productData?.category || '-'}}
                </div>
                }
                @else {
                <label>Category <span>*</span></label>
                <div>
                    <input requiredInput formControlName="category" type="text" class="form-control"
                        [class.is-invalid]="f['category'].invalid && (f['category'].dirty ||f['category'].touched)" />

                </div>
                }
            </div>

            <div class="form-group">
                @if (mode == 'View') {
                <label>Brand</label>
                <div>
                    {{productData?.brand || '-'}}
                </div>
                }
                @else {
                <label>Brand <span>*</span></label>
                <div>
                    <input requiredInput formControlName="brand" type="text" class="form-control"
                        [class.is-invalid]="f['brand'].invalid && (f['brand'].dirty ||f['brand'].touched)" />

                </div>
                }
            </div>

            <div class="form-group">
                @if (mode == 'View') {
                <label>Price</label>
                <div>
                    {{productData?.price || '-'}}
                </div>
                }
                @else {
                <label>Price <span>*</span></label>
                <div>
                    <input requiredInput positiveNumber formControlName="price" type="number" class="form-control"
                        [class.is-invalid]="f['price'].invalid && (f['price'].dirty ||f['price'].touched)" />
                </div>
                }
            </div>

            <div class="form-group">
                @if (mode == 'View') {
                <label>Qty. In Stock</label>
                <div>
                    {{productData?.quantity_in_stock || '-'}}
                </div>
                }
                @else {
                <label>Qty. In Stock <span>*</span></label>
                <div>
                    <input requiredInput positiveNumber formControlName="quantity_in_stock" type="number" class="form-control"
                        [class.is-invalid]="f['quantity_in_stock'].invalid && (f['quantity_in_stock'].dirty ||f['quantity_in_stock'].touched)" />
                </div>
                }
            </div>
        </div>


        <div class="form-group">
            <label>Is Featured</label>
            <div>
                @if (mode == 'View') {
                {{productData?.isFeatured || '-'}}
                }
                @else {
                <ng-toggle formControlName="isFeatured" [color]="{
                    unchecked: '#939da2',
                    checked: 'var(--primary-color)'
                  }"></ng-toggle>
                }

            </div>
        </div>

        <div class="form-group">
            <label>Status</label>
            <div>
                @if (mode == 'View') {
                {{productData?.status || '-'}}
                }
                @else {
                <ng-toggle formControlName="status" [color]="{
                        unchecked: '#939da2',
                        checked: 'var(--primary-color)'
                      }"></ng-toggle>
                }

            </div>
        </div>

        <div class="form-group md:w-1/2">
            <label>Description</label>
            <div>
                @if (mode == 'View') {
                {{productData?.description || '-'}}
                }
                @else {
                <textarea formControlName="description" class="form-control h-[200px]"></textarea>
                }
            </div>
        </div>
    </form>
</div>