@import "assets/scss/_colors";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&display=swap');

*
{
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  font-family: "Fira Sans";
  line-height: 1.5;
  font-size: 12px;
  font-weight: 400;
  color: var(--primary-text-color);
  background-color: var(--bg-light);
}


