@import "assets/scss/_colors";
@import "assets/scss/_form";
@import "assets/scss/_table";
@import "assets/scss/_modal";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans";
  line-height: 1.5;
  font-size: 12px;
  font-weight: 400;
  color: var(--primary-text-color);
  background-color: var(--bg-light);
}

.button {
  padding: 6px 16px;
  border-radius: 3.2px;
  cursor: pointer;


  &.primary {
    background-color: var(--primary-color);
    color: var(--white-color);

    &.danger {
      background-color: var(--danger-color);
    }
  }

  &.secondary {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);

    &.danger {
      color: var(--danger-color);
      border: 1px solid var(--danger-color);
    }
  }

}


.sort-by {
  position: relative;
  padding-right: 18px;
  cursor: pointer;

  &:before,
  &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid;
      position: absolute;
      right: 5px;
      color: #bcbdbe;
      right: 4px;
  }

  &:after {
      transform: rotate(180deg);
      margin-top: -8px;
  }

  &:before {
      margin-top: 2px;
  }

  &.asc:before,
  &.desc:after {
      color: black;
  }

  &.asc:after,
  &.desc:before {
      color: #bcbdbe;
  }

  &.none:before,
  &.none:after {
      color: #bcbdbe;
  }
}



.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  border: 1px solid var(--stroke-color);
  border-radius: 3.2px;
  padding: 12px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 10px 0px rgba(102, 102, 102, 0.1);

  .card-header {
    margin-bottom: 12px;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon {
      color: var(--primary-color);
      width: 28px;
      height: 24px;
      border: 1px solid var(--black-color);
      border-radius: 4px;
      padding: 2px 4px;
    }
  }
}




::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.5);
}

//Hide arrow on number input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}